<% layout('layouts/boilerplate')%>

<div class="card_container">
<div class="row justify-content-around mb-4">
    <div class="col-3">
       <div class="card_ind">
           <div class="card__side card__side--front">
                <div class="card__picture_admin card__pictureAdmin--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Apartados de dinero</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Honorarios</li>
                        <li>Medicos Internos</li>
                        <li>Depositos</li>
                        <li>Pagos con tarjeta</li>
                        <li>Cajas de efectivo</li>
                    </ul>
                </div>
           </div>

           <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__back-box">
                        <p class="card__back_title">Apartados de dinero</p>
                    </div>
                    <div class="bt_container">
                        <a href="/exits/box" class="bt bt--white">Ir</a>
                    </div>
                </div>
            </div>
       </div>
    </div>

    <%if(currentUser.role == "directAdmin"){%>

    <div class="col-3">
        <div class="card_ind">
            <div class="card__side card__side--front">
                <div class="card__picture_admin card__pictureAdmin--2">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Pagos Realizados</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Gastos programados</li>
                        <li>Visualizar pagos</li>
                        <li>Buscar pagos</li>
                        <li>Borrar pagos</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <div class="card__back-box">
                        <p class="card__back_title">Pagos programados</p>
                    </div>
                    <div class="bt_container">
                        <a href="/exits/payments" class="bt bt--white">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</div>
</div>