<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dino Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%if(currentUser){%>
                    <%if(currentUser.role == "directAdmin" || currentUser.role == "caja"){%>
                        <a class="nav-link" href="/exits">Pagos</a>
                        <a class="nav-link" href="/services/generateQr">Precios</a>
                    <%}%>
                    <%if(currentUser.role == "directAdmin" ){%>
                    <a class="nav-link" href="/services">Servicios</a>
                    <a class="nav-link" href="/exits/refill">Lista</a>
                <%}%>
                <a class="nav-link" href="/patients">Pacientes</a>
                <%}%>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Ingresar</a>
                <a class="nav-link" href="/register">Registrarse</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Salir</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>