<% layout('layouts/boilerplate')%>

<div class="card_container">
<div class="row justify-content-around mb-4">
    <div class="col-4">
       <div class="card_ind">
           <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Insumos Medicos</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Antibioticos</li>
                        <li>Analgésicos</li>
                        <li>Antidotos</li>
                        <li>Material de curacion</li>
                        <li>Insumos internos</li>
                    </ul>
                </div>
           </div>

           <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__back-box">
                        <p class="card__back_title">Insumos</p>
                    </div>
                    <div class="bt_container">
                        <a href="/services/supply" class="bt bt--white">Ver</a>
                    </div>
                </div>
            </div>
       </div>
    </div>


    <div class="col-4">
        <div class="card_ind">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Servicios Hospitalarios</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Consulta</li>
                        <li>Servicios medicose</li>
                        <li>Procedimientos</li>
                        <li>Estudios</li>
                        <li>Uso de instalaciones</li>
                    </ul>
                </div>

            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <div class="card__back-box">
                        <p class="card__back_title">Servicios</p>
                    </div>
                    <div class="bt_container">
                        <a href="/services/hospital" class="bt bt--white">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>