<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Crear servicio médico-hospitalario</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/services/hospital" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Nombre</label>
                <input class="form-control" type="text" id="name" name="service[name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="class">Clasificacion</label>
                <input class="form-control" type="text" id="class" name="service[class]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="unit">Unidad</label><br>
                <select name  = "service[unit]"class="btn btn-outline-secondary btn-sm custom-select custom-select-sm mt-1" >
                    <option selected id= "Procedimiento" value="Procedimiento">Procedimiento</option>
                    <option selected id= "Uso" value="Uso">Uso</option>
                    <option id= "Hora" value="Hora">Hora</option>
                    <option id= "Dia" value="Dia">Dia</option>
                    <option id= "Dinamico" value="Dinamico">Dinamico</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="claveSat">Clave del Sat</label>
                <input class="form-control" type="number" id="claveSat" name="service[claveSat]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="buy">Precio del servicio</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" id="buy" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="service[price]" required>
                </div> 
            </div>
            <div class="mb-3">
                <label class="form-label" for="doctor">Nombre del profesional de la salud</label>
                <input class="form-control" type="text" id="doctor" name="service[doctor]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Descripción</label>
                <textarea class="form-control" type="text" id="description" name="service[description]"
                    required></textarea>
            </div>
            <div class="mb-3">
                <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="service[hospitalEntry]"value = "true" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Ingreso a hospital</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="service[hospitalEntry]" value = "false" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Honorarios</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Escoger imagen(es)...</span>
                        <span class="form-file-button">Buscar en computadora</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Agregar servicio hospitalario</button>
            </div>
        </form>
        <a href="/services">Servicios</a>
    </div>
</div>